body {
    margin: 0;
    font-family: 'Montserrat';
    max-height: 100vh;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    width: 100%;
}

.header {
    background: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 120px;
    z-index: 1001;
}

.main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    background: #D6D6D6;
    width: 100%;
    height: calc(100vh - 220px);
    box-sizing: border-box;
    padding: 24px 0px;
    justify-content: center;
    flex-direction: column;
}

.circle {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 240px;
    height: 240px;
    background: #f4f4f4;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, #F4F4F4 0%, rgba(255, 255, 255, 0) 100%);
    transition: 0.25s;
    z-index: 1000;
}

.content {
    width: 100%;
    height: 100%;
}

.content__desc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 64px;
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    padding: 6px;
    box-sizing: border-box;
}

.person {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: row;
    width: auto;
    height: 100%;
    overflow: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    padding: 0px 50%;
    z-index: 1001;
}

.person::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #aaa;
}

.person::-webkit-scrollbar-thumb {
    background: #111;
}

.person__card {
    width: auto;
    height: 90%;
    box-sizing: border-box;
    transition: 0.25s;
    z-index: 1001;
    cursor: pointer;
}

.person__img {
    height: 90%;
    transition: 0.25s;
}

.person__img img,
.person__img object,
.person__img svg {
    height: 100%;
}

.person__name {
    text-align: center;
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.footer {
    background: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    flex-direction: row;
    z-index: 1001;
}

.footer_nav {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(244, 244, 244, 0.8);
    margin: 0 8%;
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .main {
        padding: 0px;
    }
}
